* {
    margin: 0;
    padding: 0;
}

body {
    display: inline-block;
    width: 100%;
    height: 1200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    /* gap: 1px; */
}

.gridBlock {
    height: 50px;
    width: 50px;
    background-color: rgb(209, 209, 209);
    flex-shrink: 3;
    min-width: 0;
}

.gridRow {
    display: flex;
    flex-shrink: 3;
    min-width: 0;

}

.hover {
    background-color: black !important;
}

button {
    padding: 5px 10px;
}