* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    /* gap: 1px; */
}

.gridBlock {
    height: 60px;
    width: 60px;
    background-color: rgb(209, 209, 209);
}

.hover {
    background-color: black;
}